* {
    margin:0;
    padding: 0;
}

#root {
    background: linear-gradient(0deg, rgba(185,185,185,1) 20%, rgba(251,251,251,1) 91%)
}

.fondoheader {
    background-image: url(../imagenes/bannermodelo.jpg);
    background-position: 0%;
    background-size: cover;
}