/* GENERAL */

* {
    margin:0;
    padding: 0;
}

#root {
    background: linear-gradient(0deg, rgba(185,185,185,1) 20%, rgba(251,251,251,1) 91%)
    /* background-image: url(../images/pexels-photo-1939485.jpeg);
    background-size: contain; */
}



/* CART */

.logocart {
    width: 29px;
    height: 29px;
}

.botoncart {
    align-items: center;
}

.vaciarcart{
    align-items: right;
    text-align: right;
    justify-content: right;
    float: right;
}

.cartmain {
    background-color: white;
}

.selector {
    font-size: 16px;
}

.valor {
    font-size: 16px;
}

.confirmButton{
    text-decoration: none;
}
/* ITEM COUNTER */

.counter {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.count {
    padding-left: 10px;
    padding-right: 10px;
}



/* NAVBAR */

.categories {
    font-size: 14px;
}

.navbar .nav-link .navbar-brand {
color: white;
text-decoration: solid;
}

/* HEADER */

/* .fondoheader {
    background-image: url("../images/bannermodelo.jpg");
    background-position: 20%;
    background-size: cover;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
} */


/* ITEM DETAIL CARD  */

.detailimg {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
}

.detailcard {
margin-left: auto;
margin-right: auto;
justify-content: center;
max-width: 700px;
}

/* NOSOTROS */

.ubi {
    padding: 20px;
}

.nosotros {
    padding: 20px;
}
